/*-------------------------------------------*\
   manageFiles.css

   Manage Files
   - Buttons
   - General
   - Mouse Events

\*-------------------------------------------*/

/*-------------------------------------------*\
   Buttons
\*-------------------------------------------*/
.l-button {
  width: inherit;
  height: 100%;
}

.edit-btn,
.submit-btn,
.save-btn {
  background-color: #4caf50;
}

/*-------------------------------------------*\
   General
\*-------------------------------------------*/
#fileEditing {
  display: none;
}

#delPagesList,
#delStylesList,
#delScriptsList {
  display: none;
}

.file-editor {
  width: 96vw;
  height: 90vh;
  margin: 1vh 2vw 2vh 2vw;
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid #212121;
  background-color: #FFF;
  overflow-y: scroll;
}

.file-list-window {
  display: flex;
  position: relative;
  width: 32vw;
  height: 65vh;
  margin: 1vh 1vw 1vh 1vw;
  padding: 0;
  background-color: #FFF;
  box-sizing: border-box;
  border: 2px solid #212121;
  overflow-x: hidden;
  overflow-y: auto;
  flex-wrap: wrap;
}

/*-------------------------------------------*\
   Mouse Events
\*-------------------------------------------*/
.edit-btn:hover,
.submit-btn:hover,
.save-btn:hover {
  background-color: #449d48;
}
